@import '../variables';

.message
{
    margin: $default-margin;

    display: block;
    padding: 10px 15px 10px 15px;
    border-style: solid;
    border-width: 1px;
    color: $message-info-color;
    border-color: $message-info-color;
    border-radius: 5px;
    background-color: lighten($message-info-color, 50);

    &.success
    {
        color: $message-success-color;
        background-color: lighten($message-success-color, 85);
        border-color: $message-success-color;
    }

    &.warning
    {
        color: $message-warning-color;
        background-color: lighten($message-warning-color, 60);
        border-color: $message-warning-color;
    }

    &.danger
    {
        color: $message-danger-color;
        background-color: lighten($message-danger-color, 60);
        border-color: $message-danger-color;
    }
}