@import '../variables';

.dropdown
{
    margin: $default-margin;

    display: flex;
    flex-direction: column;

    position: relative;

    .dropdown-label
    {
        display: flex;
        flex-direction: row;

        cursor: pointer;
        padding: 15px;
        font-size: 14.6px;
        width: 100%;
    
        border:
        {
            style: solid;
            width: 1px;
        }
        
        color: $dropdown-main-color;
        background-color: lighten($dropdown-main-color, 30);
        transition: all .2s ease;

        &:hover
        {
            background-color: lighten($dropdown-main-color, 35);
        }

        &:focus { outline: none; }

        &::-moz-focus-inner { border: none; }

        span
        {
            margin-left: 10px;

            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .dropdown-body
    {
        display: none;
        top: 48px;
        left: 0;
        position: absolute;
        overflow:auto;
        z-index: 1;
        
        min-width: 150px;
        max-width: 225px;
        max-height: 250px;
        background-color: $dropdown-body-bg-color;
        margin: 0;
        padding: 0;

        box-shadow: $dropdown-body-box-shadow;

        border:
        {
            radius: 2.5px;
            color: lighten($dropdown-main-color, 30);
            
        }

        input[type='text']
        {
            color: $dropdown-main-color;
            padding: 5px;
            width: 80%;
            margin: 7.5px;

            border:
            {
                radius: 5px;
                color: lighten($dropdown-main-color, 30);
                style: solid;
                width: 1px;
            }
        }

        input:focus
        {
            outline: none;
            box-shadow: 0 0 5px $input-focus-color;
            border: 1px solid $input-focus-color;
        }

        li
        {
            display: flex;
            flex-direction: row;
            align-items: center;

            cursor: pointer;
            list-style:none;

            padding:
            {
                top: 5px;
                left: 15px;
                bottom: 5px;
            }

            &.selected, &.selected:hover 
            {
                background-color: lighten($dropdown-main-color, 22.5);
            }
        }

        li:hover
        {
            background-color: lighten($dropdown-main-color, 30);
        }
    }

    &.multi li
    {
        padding-left: 5px;

        input[type='checkbox']
        {
            cursor: pointer;
            margin-right: 7.5px;
        }
    }
}