@import '../variables';

.dropdown
{
    margin: $default-margin;

    display: flex;
    flex-direction: column;

    position: relative;

    .dropdown-label
    {
        display: flex;
        flex-direction: row;

        cursor: pointer;
        padding: 15px;
        font-size: 14.6px;
        width: 100%;
    
        border:
        {
            style: solid;
            width: 1px;
        }
        
        color: $standard-color;
        background-color: lighten($standard-color, 30);
        transition: all .2s ease;

        &:hover
        {
            background-color: lighten($standard-color, 35);
        }

        &:focus { outline: none; }

        &::-moz-focus-inner { border: none; }

        span
        {
            margin-left: 10px;

            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .hidden-body
    {
        input[type='text']
        {
            color: $standard-color;
            padding: 5px;
            width: 80%;
            margin: 7.5px;

            border:
            {
                radius: 5px;
                color: lighten($standard-color, 30);
                style: solid;
                width: 1px;
            }
        }

        input:focus
        {
            outline: none;
            box-shadow: 0 0 5px $input-focus-color;
            border: 1px solid $input-focus-color;
        }
    }

    &.multi li
    {
        padding-left: 5px;

        input[type='checkbox']
        {
            cursor: pointer;
            margin-right: 7.5px;
        }
    }
}