#context
{
    display: flex;
    flex-direction: column;

    border: lightgrey;
    border-right-style: solid;
    border-width: 1px;
    width: 80%;
    padding: 40px;
    padding-top: 10px;
}
#subtitle
{
    font-size: 120%;
    margin: 6px 0 12px;
    line-height: 28px;
}

@media screen and (max-width: 900px)
{
    #context
    {
        width: 100%;
    }
}