#context
{
    display: flex;
    flex-direction: column;

    border: lightgrey;
    border-right-style: solid;
    border-width: 1px;
    width: 80%;
}

@media screen and (max-width: 900px)
{
    #context
    {
        width: 100%;
    }
}