$main-color: rgb(29, 44, 65);
$header-footer-text-color: white;
$rows-color: white;
$even-rows-color: #f2f2f2;

.table
{ 
    margin: 15px 5px;
    border-collapse: collapse;
    width: 98.5%;
    border: 1px solid $main-color;

    td, th
    {
        
        padding: 8px;
    }

    td
    {
        font-size: 90%;
    }

    tbody tr
    {
        background-color: $rows-color;
    }

    tbody tr:nth-child(even)
    {
        background-color: $even-rows-color;
    }

    tfoot td
    {
        background-color: $main-color;
        color: $header-footer-text-color;
    }
    
    th
    {
        cursor : pointer;
        max-width: 50%;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: $main-color;
        color: $header-footer-text-color;
    }
}