@import '../variables';

.table
{ 
    margin: 15px 5px;
    border-collapse: collapse;
    width: 98.5%;
    border: 1px solid $table-main-color;

    td, th
    {
        padding: 8px;
    }

    td
    {
        font-size: 90%;
    }

    thead
    {
        th
        {
            cursor : pointer;
            max-width: 50%;
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: $table-main-color;
            color: $table-header-footer-text-color;
        }
    }

    tbody
    {
        tr
        {
            background-color: $table-rows-color;
        }

        tr:nth-child(even)
        {
            background-color: $table-even-rows-color;
        }
    }

    tfoot
    {
        td
        {
            background-color: $table-main-color;
            color: $table-header-footer-text-color;
        }
    }
}