$main-color: grey;

.button
{
    cursor: pointer;
    margin: 5px;

    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    color: $main-color;
    border-color: $main-color;
    background-color: lighten($main-color, 40);
    box-shadow: 0 3px $main-color;

    padding:
    {
        top: 10px;
        bottom: 10px;
        left: 15px;
        right: 15px;
    }

    &:hover
    {
        color: lighten($main-color, 40);
        background-color: lighten($main-color, 20);
    }

    &:focus { outline: none; }

    &::-moz-focus-inner { border: none; }

    &:active
    {
        transform: translateY(1px);
        box-shadow: 0 2px darken($main-color, 10);
    }

    &.disabled 
    {
        font-weight: normal;
        color: lighten($main-color, 10);
        box-shadow: none;
    }

    &.error 
    {
        $main-color: red;
        color: $main-color;
        border-color: $main-color;
        background-color: lighten($main-color, 40);
        box-shadow: 0 3px $main-color;

        &:hover
        {
            color: lighten($main-color, 40);
            background-color: lighten($main-color, 20);
        }

        &:active
        {
            box-shadow: 0 2px darken($main-color, 10);
        }
    }
}